.logo img{
    width: 100px;
}

ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
}

ul li{
    margin: 10px;  
}

ul li a{
    text-align: center;
    text-decoration: none;
    color: #f06908;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.Hamburger{
    display: none;
    color: #f5f5f5;
}

@media(max-width: 480px), (max-width: 768px){
    .Hamburger{
        display: block;
    }
 
    .navbarLink{
        display: none;
    }

    .socials{
        display: none;
    }
  }
