.logo img{
    width: 100px;
}

.nav-link{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
}

.nav-link li{
    margin: 10px;  
}

.nav-link li a{
    text-align: center;
    text-decoration: none;
    color: #f06908;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
}

.sticky-background{
    background: rgb(0,0,0);
    z-index: 10;
}

.Hamburger{
    display: none;
    color: #f5f5f5;
}

@media(max-width: 768px){
    .Hamburger{
        display: block;
    }
 
    .nav-link{
        flex-direction: column;
        background: rgb(0,0,0);
        background: linear-gradient(223deg, rgba(176, 66, 7, 0.998) 10%, rgba(180, 82, 12, 0.929) 76%);
        top: 0;
        /* right: -100%; */
        /* right: 0; */
        bottom: 0;
        position: fixed;
        z-index: -1;
        width: 200px;
        padding-top: 50px;
        transition: 0.5s;
        align-items: start;
        justify-content: left;
        height: 90vh;
        border-radius: 10px 0 10px 10px;
        right: -200px;

    }

    .nav-link.show-menu{
        right: 0;
    }
    .hide-menu{
        right: -200px;
    }

    ul li a{
        color:rgb(209, 189, 189);
        text-align: left;
    }

    .socials{
        display: none;
    }
  }
