.gallery-container{
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    /* background: rgb(44,26,15);
    background: radial-gradient(circle, rgba(44,26,15,1) 0%, rgba(5,3,3,1) 100%);  */
    background: rgb(0,0,0);
    /* background: radial-gradient(circle, rgba(44,26,15,1) 0%, rgba(5,3,3,1) 100%);   */
}

    