.gallery-container{
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    background: rgb(44,26,15);
    background: radial-gradient(circle, rgba(44,26,15,1) 0%, rgba(5,3,3,1) 100%);
    box-shadow: 0 -10px 20px rgba(2, 2, 2, 0.5);
}

.grid-container-1{
    display: grid;
    grid-template-rows: repeat(80%, 2fr);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}