.TestimonialContainer{
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.TestimonialDescription {
    width: 45%;
}


.TestimonialSection{
    width: 50%;
    position: relative;
}

.TestimonyCard{
    position: absolute;
}