*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

.Navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(37, 18, 18);
  width: 100%;
  padding: 0 10%;
  flex-wrap: wrap;
}